@charset "UTF-8";
/******************************************/
/*		IPC
/*			by DFocus AuTiMoThY
/******************************************/
/*
* TOC
*
* -	_Initial
* -	_Layout
* -	btn
* -	form input textarea
* -	loading
* -	Header
* -	Footer
* -	nav
* -	banner
* -	mod
* -	AsideMod
* -	page
* -	font
* -	icon
*/
html {
  font-size: 100%;
  line-height: 1.5em;
}

/*------------------------------------------------------------------------*\
/*------------------------------------------------------------------------*\
/*------------------------------------------------------------------------*\
		>	_Initial
\*------------------------------------------------------------------------*/
.hide_txt {
  text-indent: 110%;
  white-space: nowrap;
  overflow: hidden;
  display: block;
}

.wrapper {
  width: 1370px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.well {
  width: 1370px;
  margin: auto;
  position: relative;
}

html, body {
  min-height: 100%;
  min-width: 1370px;
}

body {
  font-family: "Microsoft JhengHei", "微軟正黑體", \5FAE\x8F6F\6B63\9ED1\4F53, Arial, "Helvetica Neue", Helvetica;
}

.pic {
  width: 100%;
  overflow: hidden;
}
.pic img {
  height: auto;
  display: block;
  margin: 0 auto;
}

.temporary {
  display: block;
  margin: 0 auto;
}

.ib {
  display: inline-block;
  vertical-align: middle !important;
  padding: 0;
  background-image: none;
}

.col {
  display: inline-block;
  vertical-align: top;
}

.col-2 {
  display: inline-block;
  vertical-align: top;
  width: 49%;
}

.col-3 {
  display: inline-block;
  vertical-align: top;
  width: 32%;
}

.col-4 {
  display: inline-block;
  vertical-align: top;
  width: 24.9%;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0.2em;
  margin-bottom: 0.5em;
  line-height: 1.2125em;
  letter-spacing: 2px;
}

p {
  line-height: 1.6;
  /*margin-bottom:1.25em;*/
}

.left {
  float: left !important;
}

.right {
  float: right !important;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

.text-justify {
  text-align: justify !important;
}

.hide, .hidden {
  display: none;
}

ul, ol, dl {
  list-style-position: outside;
}

dl dt {
  margin-bottom: 0.3em;
  font-weight: bold;
}

dl dd {
  margin-bottom: 0.75em;
}

/*========================================================================*\
		test
\*========================================================================*/
.tdlt {
  text-decoration: line-through;
}

.swing {
  -webkit-transform-origin: 50% 80%;
  -ms-transform-origin: 50% 80%;
  transform-origin: 50% 80%;
}

.tri {
  display: inline-block;
}

/*------------------------------------------------------------------------*\
/*------------------------------------------------------------------------*\
/*========================================================================*\
		>	_Layout
\*========================================================================*/
.index_page {
  background: url('../images/bg.jpg?1424086610') 50% 50% no-repeat;
  background-size: cover;
  position: relative;
}

.apply {
  width: 139px;
  height: 39px;
  position: absolute;
  bottom: 11%;
  left: -6%;
  right: 0;
  margin: auto;
}

.menu {
  width: 1200px;
  margin: auto;
}
.menu li {
  margin: 0 1.7em;
}
.menu li.item1 {
  width: 197px;
  height: 58px;
}
.menu li.item2 {
  width: 156px;
  height: 58px;
}
.menu li.item3 {
  width: 156px;
  height: 58px;
}
.menu li.item4 {
  width: 197px;
  height: 58px;
}
.menu li.item5 {
  width: 174px;
  height: 58px;
}
.menu li.item1 {
  background: url('../images/menu1.png?1424088229') 0 0 no-repeat;
}
.menu li.item2 {
  background: url('../images/menu2.png?1424088254') 0 0 no-repeat;
}
.menu li.item3 {
  background: url('../images/menu3.png?1424088275') 0 0 no-repeat;
}
.menu li.item4 {
  background: url('../images/menu4.png?1424088294') 0 0 no-repeat;
}
.menu li.item5 {
  background: url('../images/menu5.png?1424088307') 0 0 no-repeat;
}
.menu li a {
  width: 100%;
  height: 100%;
  display: block;
}
.menu li.item3:hover {
  transform: translateY(-10px);
}

/*========================================================================*\
		>>	layout main
\*========================================================================*/
/*------------------------------------------------------------------------*\
/*------------------------------------------------------------------------*\
/*========================================================================*\
		>	btn
\*========================================================================*/
/*------------------------------------------------------------------------*\
/*------------------------------------------------------------------------*\
/*========================================================================*\
		>	form input textarea
\*========================================================================*/
/*------------------------------------------------------------------------*\
/*------------------------------------------------------------------------*\
/*========================================================================*\
		>	loading
\*========================================================================*/
/*------------------------------------------------------------------------*\
/*------------------------------------------------------------------------*\
/*========================================================================*\
		>	Header
\*========================================================================*/
/*------------------------------------------------------------------------*\
/*------------------------------------------------------------------------*\
/*========================================================================*\
		>	Footer
\*========================================================================*/
/*------------------------------------------------------------------------*\
/*------------------------------------------------------------------------*\
/*========================================================================*\
		>	banner
\*========================================================================*/
/*------------------------------------------------------------------------*\
/*------------------------------------------------------------------------*\
/*========================================================================*\
		>	mod
\*========================================================================*/
/*------------------------------------------------------------------------*\
/*------------------------------------------------------------------------*\
/*========================================================================*\
		>	AsideMod
\*========================================================================*/
/*------------------------------------------------------------------------*\
/*------------------------------------------------------------------------*\
/*========================================================================*\
		>	page
\*========================================================================*/
/*------------------------------------------------------------------------*\
/*------------------------------------------------------------------------*\
/*========================================================================*\
		>	font
\*========================================================================*/
/*------------------------------------------------------------------------*\
/*------------------------------------------------------------------------*\
/*========================================================================*\
		>	icon
\*========================================================================*/
button.icon {
  margin: 0;
  border: none;
}

/*========================================================================*\
		>>	icon  達人會員
\*========================================================================*/
.icon-expert {
  width: 35px;
  height: 36px;
  background: url('../images/iconTxt.png?1421477215') -265px -368px no-repeat;
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.5em;
}
/*========================================================================*\
		>>	icon  fb icon large
\*========================================================================*/
.memMod .icon-fbLogin_large {
  width: 42px;
  height: 42px;
  background: url('../images/iconTxt.png?1421477215') -89px -422px no-repeat;
}
/*========================================================================*\
		>>	icon  好文收藏
\*========================================================================*/
.memMod-myIPC_article-block .category-1 .icon, .memMod-myIPC_article-block .category-2 .icon {
  width: 41px;
  height: 30px;
  display: block;
}

.memMod-myIPC_article-block .category-1 .icon {
  background: url('../images/iconTxt.png?1421477215') -265px -422px no-repeat;
}
.memMod-myIPC_article-block .category-2 .icon {
  background: url('../images/iconTxt.png?1421477215') -265px -464px no-repeat;
}
/*========================================================================*\
		>>	icon  追蹤清單
\*========================================================================*/
.memMod-myIPC_favorite-block button.icon {
  width: 28px;
  height: 26px;
}
.memMod-myIPC_favorite-block button.icon:hover {
  box-shadow: none;
}

.icon-fav2Cart {
  background: url('../images/iconTxt.png?1421477215') -310px -609px no-repeat;
}
.icon-fav2Cart:hover {
  background-position: -344px -609px;
}

.icon-favRemove {
  background: url('../images/iconTxt.png?1421477215') -310px -640px no-repeat;
}
.icon-favRemove:hover {
  background-position: -344px -640px;
}
