#top {
	@include wh(100%, 0);
	// @include bg(#000);
}

/*========================================================================*\
		>>	main_nav
\*========================================================================*/
.main_nav {
	width: 1200px;
	margin: auto;
	li {
		margin: 0 1.7em;
		@each $item, $w, $h in
			(item1, 197px, 58px),
			(item2, 156px, 58px),
			(item3, 156px, 58px),
			(item4, 197px, 58px),
			(item5, 174px, 58px) {
			&.#{$item} {
				@include wh($w, $h);
			}
		}
		@for $i from 1 through 5 {
			&.item#{$i} {
				@include bg('menu#{$i}.png');
			}
		}
		a {
			@include wh;
			display: block;
		}
		&.item3 {
			&:hover {
				transform: translateY(-10px);
			}
		}
	}

}
