@charset "UTF-8";

/* width height position padding margin  */


.index_page {
	// @include bg('bg.jpg', 50%, 50%);
	// background-size: cover;
	// position: relative;
}

.fullBg {
	position: fixed;
	top: -5%;
	left: 0;
	z-index: 0;
	@include wh;
	@include bg('fullBg.jpg', 50%);
	background-size: cover;
	&.vote {
		background-position: 0px -1050px;
	}
}

.global_ft .ocean img {
	position: fixed;
	bottom: -3%;
	width: 100%;
	// z-index: 90;
	// @include wh(100%, 0);
	// padding-bottom: (402 / 1920) * 100%;
}

.main_nav {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 60;
}



/*========================================================================*\
		>>	layout main
\*========================================================================*/
main {
	position: relative;
	z-index: 50;
}
.slide {
	position: relative;
	z-index: 99;
	@include wh;
	overflow: hidden;
	&-wrap {
		// position: fixed;
		@include wh;
	}
	&-container {
		position: relative;
		@include wh;
	}
	&-content {
		position: relative;
	}
}


/*========================================================================*\
		>>	layout section
\*========================================================================*/
.intro {
	@include vc;
	left: 0;
	right: 0;
	@include wh(1350, 712);
}


.sec2 {
	@include wh(100%, 0);
	padding-bottom: (321 / 1903) * 100%;
	.pic {
		position: relative;
		right: 0;
		left: 0;
		margin: 0 auto 100px;
		@include wh(sec2, png);
	}
}

.plan {
	@include vc;
	left: 0;
	right: 0;
	@include wh(1000, 500);
	&-tab_block {
		z-index: 10;
	}
	&-pic {
		&.pic2 {
			z-index: 20;
		}
	}
}

.sec-vote {
	width: 965px;
	margin: auto;
	@include rhythm-padding(5);
}

