/*------------------------------------*\
		pagesBtn
\*------------------------------------*/
.pages_btn {
	height: 70px;
	margin: 30px auto 0px;
	text-align: center;
	display: table;
	ul {
		float: right;
	}
	li {
		// width: 30px !important;
		// height: 30px !important;
		position: relative;
		display: block;
		margin-right: 5px;
		text-align: center;
		line-height: 30px;
		float: left;
		@include circle(30px);
		&.number {
			// @include wh(30px);
			background: #fff;
			// border: 1px solid #cfcfcf;
			box-shadow: 1px 1px 3px #003935;
			&:hover {
				background: #004a45;
				// border: 1px solid $normal_color;
				a {
					color: #fff;
				}
				&:after {
					@include psudoClass;
					@include triBtm(#004a45, 10px, 9px);
					position: absolute;
					bottom: -5px;
					left: 5px;
				}
			}
		}
		&.active {
			background: #004a45;
			// border: 1px solid $normal_color;
			&>a {
				color: #fff;
			}
		}
		&:hover {
		}
		&.prev {
			@include wh(22, 30);
			border: none;
			// padding: 6px;
			background: none;
			margin: 0 1.5em;
			&>a {
				@include triangle(left, #004a45, 0.9em);
				// @include triPrev($normal_color, 10px);
				// display: inline-block;
				.icon {
					// @include wh(27px);
					// @include bg-i(-47px, 0);
				}
			}
			&:hover {
				background: none;
			}
		}
		&.next {
			@include wh(22, 30);
			border: none;
			// padding: 6px;
			background: none;
			margin: 0 1.5em;
			&>a {
				@include triangle(right, #004a45, 0.9em);
				// @include triNext($normal_color, 10px);
				// display: inline-block;
				.icon {
					// @include wh(27px);
					// @include bg-i(-47px, 0);
					// @include rotate(180deg);
				}
			}
			&:hover {
				background: none;
			}
		}
	}
	.page_select {
		width: auto;
		// border: 1px solid $normal_color;
		&:hover {
			// background-color: $normal_color2;
		}
		select {
			height: 25px;
			width: auto;
			background-color: #fff;
			// border: 0;
			cursor: pointer;
			line-height: 30px;
			font-weight: normal;
			&:focus {
				border-color: $normal_color2;
			}
		}
	}
	a {
		display: block;
		color: #000;
		font-size: 15px;
		font-family: $normal_font;
		font-weight: bolder;
		line-height: 30px;
		&:hover {
			@include scale(1.05);
		}
	}
}


